body {
      background-color: white;
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      color: black;
}

h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 48px;
      text-align: center;
      margin: 0;
}

p { 
      color: gray; 
      font-size: 20px; 
      font-family: 'Roboto', sans-serif;
      margin: 10px 0 30px 0;
      text-align: center; 
}

a {
  text-decoration: none;
  font-weight: 500;
}

.container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
}

.container div {
      border: 1px solid #e0e0e0;
      border-radius: 16px;
      padding: 10px;
      margin-bottom: 20px;
      background-color: #fafafa;
}

.container div:hover {
      border-color:pink;
      background-color:rgb(248, 230, 233);
}

.container div p {
  font-size: 18px;
  color: gray;
  margin: 0;
  text-align: center;
}

iframe {
      border-radius: 4px;
}

audio {
  width: 100%;
  outline: none;
  border-radius: 8px;
  margin-bottom: 10px;
}